html {
    width:100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 50px;
    margin-left: 50px;

}

body {
    display:grid;
    background-color: #FFBDCF;
    grid-template-columns:20vw 10vw 5vw 10vw 5vw 1vw 4vw 4vw 1vw 10vw 10vw 10vw 10vw;
    grid-template-rows:  10vh 10vh 5vh  10vh 10vh  10vh 5vh 10vh 10vh ;
    font:#095628;
    background-image: url(tv.png);
    background-size: 160vw;
    background-position: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

#tot{
    max-height: 30vh;
    display: grid;
    grid-column-start: 7;
   grid-column-end:11;
   grid-row-start: 1;
   grid-row-end:2;
   display: flex;

}
#fern{
    max-width: 10vw;
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 8;
   grid-row-end:10;


}


#messer{
    max-width: 20vw;
    display: grid;
    grid-column-start: 4;
   grid-column-end:8;
   grid-row-start: 8;
   grid-row-end:8;

}

#rose{
   max-height: 30vh;
    display: grid;
    grid-column-start: 3;
   grid-column-end:4;
   grid-row-start: 7;
   grid-row-end:10;

}




a{
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 8;
   grid-row-end:10;
}
