html {
    width:100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-right: 50px;
    margin-left: 50px;
}


body {
    display:grid;
position: fixed;
    grid-template-columns:20vw 10vw 5vw 10vw 5vw 1vw 4vw 4vw 1vw 10vw 10vw 10vw 10vw;
    grid-template-rows:  10vh 10vh 5vh  10vh 10vh  10vh 5vh 10vh 10vh ;
    font:#095628;
    background-image: url(blumen.jpg);
    background-size: 100vw, 100vh;
    background-position: center;
    background-position: fixed;
    cursor: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }



.titel {
    display: grid;
   color: #095628;
   width: 20vw;
   grid-column-start: 4;
   grid-column-end:6;
   grid-row-start: 4;
   grid-row-end:5;
   display: flex;
   justify-items:center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#rahmen{
    max-height: 35vh;
    width:30vw;
    display: grid;
    grid-column-start: 2;
   grid-column-end:5;
   grid-row-start: 2;
   grid-row-end:4;
   display: flex;
   z-index: 0;
}
#rahmen2{
    max-height: 40vh;
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 1;
   grid-row-end:4;
   display: flex;
   
}

#tisch{
    max-height: 80vh;
    width: 55vw;
    display: grid;
    grid-column-start: 5;
   grid-column-end:13;
   grid-row-start: 6;
   grid-row-end:10;
   display: flex;
   z-index: 2;
}


.tv{
    
    display: grid;
    grid-column-start: 8;
   grid-column-end:10;
   grid-row-start: 4;
   grid-row-end:9;
   position: relative;
   width: 30vw;
}
.ohne
{
    
        display: grid;
        grid-column-start: 10;
       grid-column-end:10;
       grid-row-start: 4;
       grid-row-end:9;
       position: relative;
       width: 30vw;
       z-index: 2;
}
#fern {
  
    display: grid;
    grid-column-start: 3;
   grid-column-end:4;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   display: none;
}
.eins {
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   position: relative;
}
.knopf {
    
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   position: relative;
}
.einsbut{
    display: grid;
    grid-column-start: 1;
   grid-column-end:2;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   position: absolute;
}
.eins img.einsbut {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .eins:hover img.einsbut {
    opacity: 1;
  }
.button
{
    display: grid;
    grid-column-start: 5;
   grid-column-end:5;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   outline: transparent;
  position: absolute;}

  .orange{
    max-width: 10vw;
    display: grid;
    grid-column-start: 6;
   grid-column-end:9;
   grid-row-start: 7;
   grid-row-end:10;
   z-index: 2;
  }

#click{
      
    display: grid;
    grid-column-start: 5;
   grid-column-end:5;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   height: 10vh;
   padding:0;
   border: transparent;
   background-color: transparent;
   outline: transparent;
 position: absolute;
   
}
.drüber
{
    
    display: grid;
    grid-column-start: 5;
   grid-column-end:5;
   grid-row-start: 8;
   grid-row-end:11;
   width: 10vw;
   outline: transparent;
  position: absolute;
}
.orange img.button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .orange:hover img.button {
    opacity: 1;
  }
 canvas{
     display: grid;
     grid-column-start: 1;
     grid-row-start: 1;
     color: aquamarine;
     z-index: 1;
 }
 canvas:hover {
    cursor: url("markerrot.cur"),auto;

    }
    #sessel{
        width: 40vw;
        display: grid;
        grid-column-start: 1;
        grid-column-end:9;
        grid-row-start: 6;
        grid-row-end:10;
        z-index: 2;
    }


    .eyes{
        position: absolute;
        width: 100%;
        display: grid;
        grid-column-start: 2;
        grid-column-end:4;
        grid-row-start: 2;
        grid-row-end:8;
        margin-left: 3vw;
       z-index: 1;
    }
    .eye{
        width: 160px;
        height:60px;
        background: #ffff;
        margin: 70px;
        border-radius: 50%;
        position:relative;
        overflow: hidden;
        display: grid;
        
    }
    .ball{
        width: 20px;
        height: 20px;
       background-color: black;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        border: 15px solid pink;
        display: grid;
    }
    